<!DOCTYPE html>
<html>
<head>
	<title>Block Dream</title>
	<meta charset="UTF-8">
	<meta name="keywords" content="">
	<meta name="descriptioin" content="">
	<meta name="author" content="wangjin.js@gmail.com">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<link rel="stylesheet" type="text/css" href="/resources/block/main.css">
	<script type="text/javascript" src="/resources/js/jquery-2.1.4.min.js"></script>
</head>
<body>
	<canvas id="ui_box"></canvas>
	<script type="text/javascript" src="/resources/block/main.js"></script>
</body>
</html>