<!DOCTYPE html>
<html>
<head>
	<title>FX</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="full-screen" content="yes">
	<meta name="full-screen" content="true"/>
	<meta name="x5-fullscreen" content="true">
	<meta name="360-fullscreen" content="true">
	<meta name="screen-orientation" content="portrait"/>
	<meta name="x5-orientation" content="portrait"/>
	<link rel="stylesheet" type="text/css" href="/resources/css/fx/main.css">
</head>
<body>
	<div class="wrap">
		<header id="content_title"></header>
		<div class="content">
			<div id="category_list">
				<ul class="item-list" id="category">
					<li class="item"><div class="item-name">轻量</div></li>
					<li class="item"><div class="item-name">灵活</div></li>
					<li class="item"><div class="item-name">易用</div></li>
				</ul>
			</div>
			<div id="item_list">
				<ul class="item-list" id="item">
					<li class="item"><div class="item-name">轻量01</div></li>
					<li class="item"><div class="item-name">灵活02</div></li>
					<li class="item"><div class="item-name">易用03</div></li>
				</ul>
			</div>
		</div>
		<footer>Copyright © 2017-<span id="toyear"></span> Kim W</footer>
	</div>
	<script type="text/javascript" src="/resources/lib/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/resources/js/fx/main.js"></script>
</body>
</html>