<!DOCTYPE html>
<html>
<head>
	<title>FX</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="full-screen" content="yes">
	<meta name="full-screen" content="true"/>
	<meta name="x5-fullscreen" content="true">
	<meta name="360-fullscreen" content="true">
	<meta name="screen-orientation" content="portrait"/>
	<meta name="x5-orientation" content="portrait"/>
</head>
<body>
	fx page
	<script type="text/javascript" src="/resources/lib/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/resources/js/fx/main.js"></script>
</body>
</html>