<!DOCTYPE html>
<html>
<head>
	<title>Kim W</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/resources/css/home/main.css">
</head>
<body>
	<div class="wrap">
		<div class="part">
			<div class="part-title">工具</div>
			<div class="part-body">
				<ul>
					<li class="part-link"><a href="/view/compass">指南针</a></li>
					<li class="part-link"><a href="/view/map">地图</a></li>
					<li class="part-link"><a href="/view/base64">Base64转码</a></li>
					<li class="part-link"><a href="/view/fx">FX</a></li>
				</ul>
			</div>
		</div>
		<div class="part">
			<div class="part-title">测试</div>
			<div class="part-body">
				<ul>
					<li class="part-link"><a href="/view/3d">3D</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>