doctype html
html
	head
		title kim #{title}
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width")
		link(rel="stylesheet", type="text/css", href="resources/css/main.css")
		script(type="text/javascript", src="resources/js/jquery-2.1.4.min.js")
	body
		form 请输入参数
			input(name="param", type="text")
			input(type="submit")
		ul
			- for (var i = 0; i < users.length; i ++) {
				li 用户名：#{users[i].uname} 密码：#{users[i].upassword}
			- }
