doctype html
html
	head
		title kim page
		meta(name="viewport", content="width=device-width")
		link(rel="stylesheet", type="text/css", href="resources/css/style.css")
		script(type="text/javascript", src="resources/js/jquery-2.1.4.min.js")
	body
		form
			input(type="text")
			input(type="submit")
