<html>
<head>
	<title>dong</title>
	<meta  content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="../res/css/main.css">
</head>
<body>
    <div id="main">
	    <my-header></my-header>
	    <left-menu></left-menu>
	    <div class="content-area">
	         <list :home="country" :url='locurl'></list>
	    </div>	    
	</div>
	<script type="text/javascript" src="/res/lib/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
	<script type="text/javascript" src="/res/component/myheader.js"></script>
	<script type="text/javascript" src="/res/component/menu.js"></script>
	<script type="text/javascript" src="/res/component/list.js"></script>
	<script type="text/javascript" src="/res/js/country.js"></script>
</body>
</html>